 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
 }

 html,
 body {
    width: 100%;
    height: 100%;

 }

 .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .calculator {
    width: 21.5%;
    height: 70%;
    background-color: #ecf0f3;
    padding: 5px ;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #FFFFFF,
       5px 5px 12px rgba(0, 0, 0, .16);
    display: grid;
    grid-template-columns: repeat(4, 82px);
    padding: 0vmax 0vmax 1vmax 1vmax;

 }

 input {
    grid-column: span 4;
    height: 70px;
    width: 280px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #FFFFFF,
       inset 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    margin-right: 41px;

 }

 button {
    height: 65px;
    width: 65px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #b7b7b7,
       inset 5px 5px 12px rgba(190, 240, 186, 0.16);
    border: none;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    margin-left: -0.2vmax;
    /* margin-right: -5vmax; */

 }

 .equal {
    width: 140px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #FFFFFF,
       inset 5px 5px 12px rgba(0, 0, 0, .16);
    margin-left: -0.2vmax;

 }

 @media (min-width: 1150px) and (max-width: 1280px) {
   .calculator {
      width: 27%;
      height: 80%;
      background-color: #ecf0f3;
      padding: 5px ;
      border-radius: 30px;
      box-shadow: inset 5px 5px 12px #FFFFFF,
         5px 5px 12px rgba(0, 0, 0, .16);
      display: grid;
      grid-template-columns: repeat(4, 82px);
      padding: 0vmax 0vmax 1vmax 1vmax;
  
   }
 }
 @media (min-width: 1130px) and (max-width: 1149px) {
   .calculator {
      width: 28.5%;
      height: 80%;
      background-color: #ecf0f3;
      padding: 5px ;
      border-radius: 30px;
      box-shadow: inset 5px 5px 12px #FFFFFF,
         5px 5px 12px rgba(0, 0, 0, .16);
      display: grid;
      grid-template-columns: repeat(4, 82px);
      padding: 0vmax 0vmax 1vmax 1vmax;
  
   }
 }
 @media (min-width: 1100px) and (max-width: 1129px) {
   .calculator {
      width: 29.5%;
      height: 80%;
      background-color: #ecf0f3;
      padding: 5px ;
      border-radius: 30px;
      box-shadow: inset 5px 5px 12px #FFFFFF,
         5px 5px 12px rgba(0, 0, 0, .16);
      display: grid;
      grid-template-columns: repeat(4, 82px);
      padding: 0vmax 0vmax 1vmax 1vmax;
  
   }
 }
 @media (min-width: 1000px) and (max-width: 1100px) {
   .calculator {
      width: 32%;
      height: 80%;
      background-color: #ecf0f3;
      padding: 5px ;
      border-radius: 30px;
      box-shadow: inset 5px 5px 12px #FFFFFF,
         5px 5px 12px rgba(0, 0, 0, .16);
      display: grid;
      grid-template-columns: repeat(4, 82px);
      padding: 0vmax 0vmax 1vmax 1vmax;
  
   }
 }